@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin     : 0;
  padding    : 0;
  border     : 0;
  font-size  : 100%;
  font       : inherit;
  font-family: 'Roboto', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color           : inherit;
}

input::-moz-focus-inner {
  border : 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance   : none;
  -webkit-appearance: none;
  -ms-appearance    : none;
  appearance        : none;
}

/* Basic */
html {
  box-sizing     : border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fff;
  overflow-x: hidden;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation : none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  color         : #fff;
  font-size     : 15pt;
  font-weight   : 300 !important;
  letter-spacing: -0.025em;
  line-height   : 1.75em;
}

a {
  -moz-transition   : border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -ms-transition    : border-color 0.2s ease-in-out;
  transition        : border-color 0.2s ease-in-out;
  border-bottom     : dotted 1px;
  color             : inherit;
  outline           : 0;
  text-decoration   : none;

  &:hover {
    border-color: transparent;
  }
}

.btn-wrapper a {
  background-color: #3C91E6;
  padding         : 1em 2em;
  text-transform  : uppercase;
  font-weight     : bold;
  border-radius   : 50px;
  border-width    : 0;
}

.divider {
  margin-block : 30px;
  border-radius: 10px;
  overflow     : hidden;
  height       : 5px;
  max-width    : 200px;
}

/* Icon */
.icon {
  text-decoration: none;
  position       : relative;

  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing : antialiased;
    display                : inline-block;
    font-style             : normal;
    font-variant           : normal;
    text-rendering         : auto;
    line-height            : 1;
    text-transform         : none !important;
    font-family            : 'Font Awesome 5 Free';
    font-weight            : 400;
  }

  &>.label {
    display: none;
  }

  &.solid:before {
    font-weight: 900;
  }

  &.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }
}

/* Header */
.header {
  width          : 100%;
  position       : fixed;
  top            : 0;
  left           : 0;
  z-index        : 10000;
  padding        : 25px;
  display        : flex;
  display        : -webkit-flex;
  justify-content: space-between;
  background     : linear-gradient(116deg, #052839 0%, #3c91e6 100%) !important;

  .mobile-navmenu {
    display: none;
  }

  .logo {
    display: flex;
    display: -webkit-flex;
    width  : 70px;

    img {
      width : 100%;
      height: 100%;
    }
  }

  nav {
    display    : flex;
    display    : -webkit-flex;
    align-items: center;

    ul {
      display: flex;
      display: -webkit-flex;

      li {
        padding-inline: 15px;

        a {
          border        : none;
          font-weight   : 700;
          text-transform: uppercase;
          letter-spacing: 1px;

          &:hover {
            opacity   : .7;
            transition: all .4s ease-in-out;
          }
        }
      }
    }
  }
}

/* End Header */

/* Hero */
@keyframes hero-section {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-section {
  animation: hero-section 3s forwards;
  height   : 100vh;
  width    : 100vw;
  left     : 0;
  opacity  : 0;
  position : relative;
  top      : 0;


  @keyframes title {
    0% {
      transform: translate3d(0, 1em, 0);
      opacity  : 0;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity  : 1;
    }
  }

  .title {
    animation          : title 1s 2.25s forwards;
    backface-visibility: hidden;
    transform          : translate3d(0, 0, 0);
    cursor             : default;
    display            : inline-block;
    opacity            : 0;
    position           : absolute;
    text-align         : center;
    top                : 50%;
    width              : 100%;

    h1 {
      font-size     : 4.35em;
      font-weight   : 900;
      letter-spacing: -0.035em;
      line-height   : 1em;
    }

    p {
      font-size: 1.25em;
      margin   : 0.75em 0 0.25em 0;
      opacity  : 0.75;
    }
  }
}

.hero-bg {
  animation          : hero-bg 60s linear infinite;
  backface-visibility: hidden;
  transform          : translate3d(0, 0, 0);
  /* Set your background with this */
  background         : #348cb2 url("img/bg.jpg") bottom left;
  background-repeat  : repeat-x;
  height             : 100%;
  left               : 0;
  opacity            : 1;
  position           : absolute;
  top                : 0;
  background-size    : 2250px auto;
  width              : 6750px;
}

@keyframes hero-bg {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2250px, 0, 0);
  }
}

@keyframes hero-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-overlay {
  animation          : hero-overlay 1.5s 1.5s forwards;
  background-image   : url("img/overlay-pattern.png"), url("img/overlay.svg");
  background-position: top left, center center;
  background-repeat  : repeat, no-repeat;
  background-size    : auto, cover;
  height             : 100%;
  left               : 0;
  right              : 0;
  opacity            : 0;
  position           : absolute;
  top                : 0;
  width              : 100%;
}

@keyframes nav-icons {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity  : 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity  : 1;
  }
}

.hero-footer {
  display        : flex;
  display        : -webkit-flex;
  align-items    : center;
  justify-content: center;
  bottom         : 0;
  height         : 6em;
  position       : absolute;
  width          : 100%;
  background     : #242a2e;

  nav {
    ul {
      display: flex;
      display: -webkit-flex;

      li {
        animation          : nav-icons 0.5s ease-in-out forwards;
        backface-visibility: hidden;
        transform          : translate3d(0, 0, 0);
        opacity            : 0;
        position           : relative;
        top                : 0;
        display            : flex;
        display            : -webkit-flex;
        align-items        : center;
        justify-content    : center;
        width              : 6em;
        height             : 5.5em;

        &:nth-child(1) {
          animation-delay: 2.5s;
        }

        &:nth-child(2) {
          animation-delay: 2.75s;
        }

        &:nth-child(3) {
          animation-delay: 3s;
        }

        &:nth-child(4) {
          animation-delay: 3.25s;
        }

        &:nth-child(5) {
          animation-delay: 3.5s;
        }

        a {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-touch-callout      : none;
          border                     : 0;
          display                    : inline-block;
          cursor                     : pointer;

          &:before {
            transition   : all 0.2s ease-in-out;
            border-radius: 100%;
            border       : solid 1px #fff;
            display      : block;
            font-size    : 1.75em;
            height       : 2.5em;
            line-height  : 2.5em;
            position     : relative;
            text-align   : center;
            top          : 0;
            width        : 2.5em;
          }

          &:hover {
            font-size: 1.1em;

            &:before {
              background-color: rgba(255, 255, 255, 0.175);
              color           : #fff;
            }
          }

          &:active {
            font-size : 0.95em;
            background: none;

            &:before {
              background-color: rgba(255, 255, 255, 0.35);
              color           : #fff;
            }
          }

          span {
            display: none;
          }

        }
      }
    }
  }
}

/* end hero section */

/* Why */
#why {
  background: linear-gradient(180deg, #052839 0%, #3c91e6 100%);
  padding   : 100px 0;

  .wrapper {
    display      : flex;
    display      : -webkit-flex;
    align-items  : center;
    width        : 80%;
    margin-inline: auto;

    .img {
      width       : 50%;
      margin-right: 5.5%;

      img {
        width: 100%;
      }
    }

    .content {
      width: 50%;

      .title {
        font-size    : 36px;
        font-weight  : 700;
        margin-bottom: 30px;
      }

      .divider {
        background: linear-gradient(146deg, #f5812a 0%, #eb507f 100%);
      }

      .description {
        font-size    : 16px;
        line-height  : 2em;
        margin-bottom: 5.82%;
      }
    }
  }
}

/* End Why */

/* tokenomics */
#tokenomics {
  padding   : 68px 0;
  background: radial-gradient(circle at 25% 55%, #f5812a 0%, #eb507f 100%);

  .title {
    font-weight   : 700;
    font-size     : 36px;
    text-transform: capitalize;
    text-align    : center;
    margin-bottom : 30px;
  }

  .divider {
    background   : linear-gradient(146deg, #3c91e6 0%, #052839 100%);
    margin-inline: auto;
  }

  .quadrillion {
    display    : flex;
    display    : -webkit-flex;
    align-items: center;
    width      : 80%;
    margin     : 30px auto 90px;

    .img {
      width: 50%;

      img {
        width        : 70%;
        border-radius: 10px;
      }
    }

    .content {
      text-align: center;

      &>.title {
        font-size    : 48px;
        margin-bottom: 20px;
      }

      .subtitle {
        font-size     : 14px;
        padding-bottom: 10px;
        font-weight   : 700;
        text-transform: uppercase;
        margin-bottom : 5.82%;
        letter-spacing: 3px;
      }

      ul {
        li {
          display       : flex;
          display       : -webkit-flex;
          flex-direction: column;
          align-items   : flex-start;

          .title {
            text-transform: uppercase;
            font-size     : 14px;
            letter-spacing: 1px;
            margin-bottom : 0;
            line-height   : 17px;
          }

          .progress-bar {
            width        : 100%;
            height       : 21px;
            display      : flex;
            display      : -webkit-flex;
            border-radius: 10px;
            background   : #00000025;

            span {
              width        : 5%;
              height       : 100%;
              border-radius: 10px;
              background   : #EB3C33;
              transition   : width .5s;
            }
          }
        }

        .percent {
          font-size: 14px;
        }
      }
    }
  }

  .price-list {
    display        : flex;
    display        : -webkit-flex;
    align-items    : center;
    justify-content: space-around;
    margin-bottom  : 90px;

    li {
      display       : flex;
      display       : -webkit-flex;
      flex-direction: column;
      text-align    : center;

      .price {
        font-weight: 800;
        font-size  : 36px;
      }

      .title {
        font-size    : 14px;
        margin-bottom: 0;
      }
    }
  }

  .taxes {
    &>.title {
      font-size     : 16px;
      margin-bottom : 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom : 30px;
    }

    ul {
      display        : flex;
      display        : -webkit-flex;
      justify-content: center;
      flex-wrap      : wrap;
      margin-bottom  : 45px;

      li {
        text-align   : center;
        margin-inline: 40px;

        .percent {
          font-size    : 72px;
          font-weight  : 800;
          margin-bottom: 20px;
          line-height  : 1;
        }

        .title {
          font-size: 14px;
        }
      }
    }

    .description {
      text-align    : center;
      font-size     : 16px;
      letter-spacing: 1px;
    }
  }
}

/* End tokenomics */

/* links */
#links {
  display: flex;
  display: -webkit-flex;

  .content {
    width           : 50%;
    background-image: linear-gradient(148deg, #3c91e6 0%, #052839 100%);
    background-color: #3C91E6;
    padding         : 120px;

    .title {
      display       : flex;
      display       : -webkit-flex;
      flex-direction: column;
      font-size     : 36px;
      font-weight   : 700;

      span {
        font-weight   : 700;
        text-transform: uppercase;
        font-size     : 14px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        color         : #f5812a;
        font-weight   : 400;
        letter-spacing: 2px;
        line-height   : 1;
      }
    }

    .divider {
      background-image: linear-gradient(146deg, #f5812a 0%, #eb507f 100%);
    }

    .description {
      p {
        padding-bottom: 1em;
        font-size     : 1em;
      }
    }
  }

  .img {
    display         : flex;
    display         : -webkit-flex;
    align-items     : center;
    width           : 50%;
    background-image: linear-gradient(156deg, #f5812a 0%, #eb507f 100%);
    background-color: #F5812A;
    padding-left    : 100px;

    img {
      width: 100%;
    }
  }
}

.scrollup {
  border-radius  : 4px;
  bottom         : 30px;
  color          : #fff;
  display        : none;
  font-size      : 30px;
  height         : 40px;
  line-height    : 40px;
  position       : fixed;
  right          : 20px;
  text-align     : center;
  width          : 40px;
  z-index        : 99;
  background     : #F57E30;
  align-items    : center;
  justify-content: center;
}

/* End links */

/* roadmap */
#roadmap {
  &>.title {
    background    : #052839;
    text-transform: uppercase;
    padding       : 20px;
    text-align    : center;
    font-weight   : 500;
    font-size     : 36px;
  }

  .content {
    background : #193E6D;
    padding-top: 30px;

    &>ul {
      display        : flex;
      display        : -webkit-flex;
      flex-wrap      : wrap;
      justify-content: space-around;
      margin-bottom  : -30px;

      &>li {
        width        : 22%;
        padding      : 30px;
        background   : linear-gradient(180deg, #00000099 0%, #00000050 100%);
        border-radius: 10px;

        &>.title {
          color         : #44B6C4;
          background    : none;
          text-transform: unset;
          text-align    : left;
          font-size     : 36px;
          line-height   : 1.5;
          font-weight   : 500;
          padding       : 0;
        }

        .hr-line {
          width       : 100%;
          height      : 5px;
          background  : #fff;
          margin-block: 20px;
        }

        ul {
          li {
            display      : flex;
            display      : -webkit-flex;
            align-items  : center;
            line-height  : 1;
            margin-bottom: 20px;
            font-size    : 18px;

            &.check {
              color: #26856F;
            }

            &.dot {
              color: #FF963C;
            }

            &.circle {
              i {
                color: #1C3E9B;
              }
            }

            i {
              margin-right: 10px;
            }

            .subtitle {
              font-size : 16px;
              color     : #999;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

/* End roadmap */

.footer {
  padding-top     : 120px;
  padding-bottom  : 50px;
  background-color: #052839;
  position        : relative;
  z-index         : 1;

  .img {
    display        : flex;
    display        : -webkit-flex;
    justify-content: center;
    margin-bottom  : 100px;

    img {
      width    : 15%;
      min-width: 170px;
    }
  }

  .copyright {
    display        : flex;
    display        : -webkit-flex;
    justify-content: center;
    padding-inline : 20px;
  }
}

/* Wide */
@media screen and (max-width: 1680px) {
  @keyframes hero-bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-1500px, 0, 0);
    }
  }

  .hero-bg {
    background-size: 1500px auto;
    width          : 4500px;
  }
}

/* Normal */
@media screen and (max-width: 1280px) {
  @keyframes hero-bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-750px, 0, 0);
    }
  }

  .hero-bg {
    background-size: 750px auto;
    width          : 2250px;
  }
}

@media screen and (max-width: 980px) {
  .header {
    align-items   : center;
    flex-direction: column;

    nav {
      display: none;
    }

    .mobile-navmenu {
      display   : block;
      margin-top: 20px;

      .mobile-nav {
        border-bottom: none;
        position     : relative;

        .mobile-menu-bar {
          font-size: 24px;
        }
      }

      .mobile-menu {
        position  : absolute;
        background: #000;
        width     : 70%;
        top       : calc(100% - 15px);
        padding   : 5%;
        left      : 50%;
        transform : translateX(-50%);
        display   : none;

        .mobile-nav {
          display: none;
        }

        a {
          border-bottom: none;
        }

        li {
          display       : flex;
          display       : -webkit-flex;
          padding       : 10px 5%;
          font-weight   : 700;
          text-transform: uppercase;
          letter-spacing: 1px;

          a {
            width: 100%;

            &:hover {
              opacity   : .7;
              transition: all .4s ease-in-out;
            }
          }
        }

        &.closed {
          animation: close-nav-menu 0.5s ease-in-out forwards;
        }

        &.opened {
          animation: nav-menu 0.5s ease-in-out forwards;
        }
      }
    }
  }

  #why .wrapper {
    flex-direction: column;

    .img {
      margin-right: 0;
    }

    .content {
      width     : 100%;
      margin-top: 30px;
      text-align: center;

      .divider {
        margin-inline: auto;
      }

      .btn-view {
        text-align: left;
      }
    }
  }

  #tokenomics {
    .quadrillion {
      flex-direction: column-reverse;
      margin-top    : 50px;
      width         : 90%;

      .content {
        width: 60%;
      }

      .img {
        width     : 60%;
        margin-top: 50px;

        img {
          width: 100%;
        }
      }
    }

    .price-list {
      flex-direction: column;

      li {
        margin-block: 10px;
      }
    }

    .taxes ul li {
      width: 35%;
    }
  }

  #links {
    flex-direction: column;

    .content,
    .img {
      width: 100%;
    }
  }

  #roadmap .content>ul {
    margin-bottom: -60px;

    &>li {
      width        : 45%;
      margin-bottom: 30px;
    }
  }

  .footer {
    padding-top: 50px;
  }
}

@keyframes nav-menu {
  0% {
    height : 0;
    opacity: 0;
  }

  100% {
    height : 300%;
    opacity: 1;
  }
}

@keyframes close {
  100% {
    display: none;
  }
}

@keyframes close-nav-menu {
  0% {
    opacity: 1;
    height : 300%;
  }

  100% {
    height : 0%;
    opacity: 0;
  }
}

/* Mobile */
@media screen and (max-width: 736px) {
  body {
    min-width: 320px;
  }

  /* BG */
  @keyframes hero-bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-300px, 0, 0);
    }
  }

  .hero-section {
    .title {
      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1em;
      }
    }
  }

  .hero-bg {
    width: 900px;
  }

  .hero-footer {
    nav {
      width    : 100%;
      font-size: 1em;

      a {
        font-size: 2vw;

        &:hover {
          font-size: 2.3vw;

          &:before {
            font-size: 4.3vw;
          }
        }

        &:active {
          font-size: 2.3vw;
        }
      }
    }
  }

  #why .wrapper .content .btn-view a {
    padding  : 10px 20px;
    font-size: 16px;
  }

  #links .content {
    padding: 50px;
  }

  #roadmap .content>ul>li {
    width        : 80%;
    margin-bottom: 30px;
  }
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  @keyframes hero-bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-412.5px, 0, 0);
    }
  }

  .hero-bg {
    width: 1237.5px;
  }

  .hero-footer nav {
    padding: 0 1em;
  }

  #tokenomics .taxes ul li {
    margin: auto;
    width : 80%;
  }

  #links .content {
    padding: 20px;
  }

  .footer {
    padding-top   : 50px;
    padding-bottom: 30px;

    .img {
      margin-bottom: 30px;
    }

    .copyright {
      text-align: center;
    }
  }
}